.container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  font-family: Arial, sans-serif;
}

header {
  flex: 1;
  padding: 20px;
}

aside {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ddd;
}

main {
  flex: 4;
  padding: 20px;
}

h1, h2 {
  margin: 0 0 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

.selected {
  background-color: #ffdfdf !important; /* цвет выделенной строки */
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  background-color: #ff7f7f;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #ff4f4f;
}